## R stuff
.Rproj.user
.Rhistory
*.RData
.Ruserdata
.DS_Store
*.Rproj
.spyproject
.Rapp.history

## Folders
Data/
Output/
Figures/
Genesets/
Antibodies/
Paper/
Manuscript/
Old_attempts/
Documents/
Copies/
Vectra_representative/
Paper_Ready_Figs/
STAD/Data/
STAD/Figures/
UCEC/Data/
UCEC/Figures/
PAAD/Data/
PAAD/Figures/
R_Data/

## Genome Stuff
hgenome.00.b.array
hgenome.00.b.tab
hgenome.files
hgenome.log
hgenome.reads

## File Types
*.png
*.docx
*.csv
*.pptx
*.pdf
*.Rmd
*.xlsx
*.rda
*.html
